* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    background-image:url(./Images/Back.jpg);
    background-size:100%;
   

}

.container {
    text-align: center;
    background: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #666;
}

#countdown {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#countdown div {
    margin: 0 10px;
    text-align: center;
}

#countdown span {
    display: block;
    font-size: 2rem;
    color: #333;
}

.subscription-form {
    margin-bottom: 40px;
}

.subscription-form input[type="email"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
}

.subscription-form button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.footer__copyright{
    margin-top: 1rem;
    align-items:center;
}
